
# adodogg
 <h1> <P  ADODOG 
<doctype html>

<h1> <title>{color:blue;text-aling:center;}size='Num.6'ADODOG 
 
<P> <u> ADOTE O SEU COMPANHEIRO PARA VIDA!
 
<P><sup> Localizado no centro de Paulo Frontin.
 
<body> <h1>  <p align=left> Cachorros vacinados 
 
<body>
 <img src="images/cachorross.jpeg">
body {
    margin: 0;
}
        
#container-imagem {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: red;}
